<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lego Set Collection</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
  <%- include('partials/navbar', { page: '/lego/sets' }) %>

  <!-- Hero Section -->
  <div class="bg-primary text-white text-center p-8">
    <h1 class="text-4xl font-bold mb-4">Collection</h1>
    <p class="text-lg mb-8">
      Browse the entire collection. Click the theme to filter by themes.
    </p>
    <div class="inline-block">
      <a href="/lego/sets?theme=technic" class="btn btn-secondary mx-2">TECHNIC</a>
      <a href="/lego/sets?theme=classic%20town" class="btn btn-secondary mx-2">CLASSIC TOWN</a>
      <a href="/lego/sets?theme=supplemental" class="btn btn-secondary mx-2">SUPPLEMENTAL</a>
    </div>
  </div>

 
  
  <div class="overflow-x-auto overflow-y-hidden">
        <table class="table table-zebra">
          <!-- head -->
          
          <tbody>
            <% sets.forEach(set=> { %>

              <tr>

                <td>
               

                <div class="avatar">
                  <div class="w-32 h-32 rounded-lg bg-transparent bg-no-repeat bg-cover " style="background-image: url('<%= set.img_url %>');"></div>
                </div>
              </td>

                <td>
                  <%= set.name %> | <a href="/lego/sets?theme=<%= set.Theme.name %>" class="btn  mt-2 btn-xs"><%= set.Theme.name %></a>

                </td>

                <td><span class="font-bold">Year: </span> <%= set.year %> - <span class="font-bold">Parts:</span> <%= set.num_parts %></td>
                <th>
                  <a href="/lego/sets/<%= set.set_num %>" class="btn btn-xs">details</a>
                </th>


              </tr>

              <% }); %>

          </tbody>


        </table>
      </div>


</body>
</html>
